<%= form_for [@question, @vote] do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span12">
      <h2><%= @question.name %></h2>
      <div class="row-fluid your_choice">
        <h3>
        <%= "Your Choice - #{@vote.choice.name}" %>
        <%= link_to content_tag(:i, "", class: "icon-random icon-white") + " Switch Vote", new_question_vote_path(@question, :choice_id => @question.other_choice(@choice)), :class => "btn btn-inverse" %>
        </h3>
      </div>
      <div class="row-fluid choices">
        <h3><%= "Crowd's Choice - make your prediction:" %></h3>
        <div class="row-fluid">
          <%= f.fields_for :guess do |guess_form| %>
              <div id="choice1" class="span6 choice">
                <div class="field">
                  <h4><%= @question.choice1.name %></h4>
                  <%= guess_form.text_field :choice1_percent %>
                </div>
              </div>
              <div id="choice2" class="span6 choice">
                <div class="field">
                  <h4><%= @question.choice2.name %></h4>
                  <%= guess_form.text_field :choice2_percent %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row actions">
    <%= f.submit "Do it!", :class => "btn btn-primary btn-large do_it" %>
  </div>
<% end %>




